version: '2'

services:
  videar-test:
    image: mkaichen/videar:latest
    build: .
    environment:
      - DB_HOST=central_mongodb
      - SPEECH_HOST=speech2text
      - NODE_ENV=test
    command: [ "npm", "test" ]
    depends_on: 
      - central_mongodb

  # handle speech to text and audio synthesis
  speech2text:
    image: mkaichen/s2t:latest
    environment:
      - DB_HOST=central_mongodb
    ports:
      - "8008:8008"
    volumes:
      - /usr/src/s2t
    depends_on: 
      - central_mongodb

  # obtain audio from multiple 3rd party sources
  uni_audio:
    image: mkaichen/uni_audio:latest
    environment:
      - DB_HOST=central_mongodb
      - AUDIOSEARCH_APP_ID=$AUDIOSEARCH_APP_ID
      - AUDIOSEARCH_SECRET=$AUDIOSEARCH_SECRET
    ports:
      - "3124:3124"
    depends_on: 
      - central_mongodb

  # mongo
  central_mongodb:
    image: mongo:latest
    ports:
      - "27017:27017" 
    restart: always
