version: '2'

services:
  videar:
    environment:
      - DB_HOST=centralmongodb
      - 'UAS_URL=http://uniaudio:8080'
      - 'S2T_URL=http://speech2text:8080'
    image: 'mkaichen/videar:latest'
    ports:
      - '8080:8080'
    depends_on: 
      - centralmongodb

  videar-test:
    image: mkaichen/videar:latest
    build: .
    environment:
      - NODE_ENV=test
    command: [ "bash", "test.sh" ]

  # handle speech to text and audio synthesis
  speech2text:
    image: mkaichen/s2t:latest
    environment:
      - DB_HOST=centralmongodb
      - 'UAS_URL=http://uniaudio:8080'
    depends_on: 
      - centralmongodb

  # obtain audio from multiple 3rd party sources
  uniaudio:
    image: mkaichen/uni_audio:latest
    environment:
      - AUDIOSEARCH_APP_ID=$AUDIOSEARCH_APP_ID
      - AUDIOSEARCH_SECRET=$AUDIOSEARCH_SECRET
      - DB_HOST=centralmongodb
    expose:
      - 8080
    depends_on: 
      - centralmongodb

  # mongo
  centralmongodb:
    image: mongo:latest
    restart: always
