<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-7"></th>
				<th class="col-md-4"><button (click)="addLink()" class="btn btn-primary">Link More Videos</button></th>
			</tr>
		</thead>
		<tbody *ngFor="let link of links; let index = index; trackBy: trackByIndex;">
			<td scope="row"><input class="form-control" [(ngModel)]="link.link"
				placeholder="paste link here: https://www.youtube.com/watch?v=..."/></td>
			<td><label class="form-control-label">{{link.getStatus()}}</label></td>
			<td><button (click)="processLink(index)" class="btn btn-success">Process</button></td>
			<td><button (click)="clearLink(index)" class="btn btn-warning">Clear</button></td>
			<td><button (click)="removeLink(index)" class="btn btn-danger">Remove</button></td>
		<tbody>
	</table>
	<audioviewer-component></audioviewer-component>
</div>
