<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-md-7"></th>
				<th class="col-md-1"><button (click)="processLinks()" class="btn btn-primary">Process Videos</button></th>
				<th class="col-md-1"><button (click)="addLink()" class="btn btn-primary">Link More Videos</button></th>
			</tr>
		</thead>
		<tbody *ngFor="let link of links; let index = index; trackBy: trackByIndex;">
			<tr>
				<td scope="row"><input class="form-control" [(ngModel)]="links[index].link"
					placeholder="paste link here: https://www.youtube.com/watch?v=..."/></td>
				<td><label class="form-control-label">{{link.getStatus()}}</label></td>
				<td><button (click)="removeLink(index)" class="btn btn-warn">Remove</button></td>
			</tr>
		<tbody>
	</table>
	<table class="table table-striped">
		<thead>
			<tr>
				<th><label class="form-control-label">Link</label></th>
				<th><label class="form-control-label">Audio</label></th>
			</tr>
		</thead>
		 <tbody *ngFor="let sid of soundIds">
			<tr>
				<td><label class="form-control-label">http://www.youtube.com/watch?v={{sid}}</label></td>
				<td>
					<audio controls="controls" preload='auto'>
						<source [src]="getAudioURL(sid)" type="audio/mp3"/>
					</audio>
				</td>
			</tr>
		</tbody> 
	</table>
</div>