<div class="panel panel-default">
	<div class="panel-heading">Queued Audio</div>
	<div class="panel-body">
		<table class="table table-striped">
			<tbody>
				<div class="row vcenter wide" [hidden]='cache.toArray().length > 0'>
					<label class="text-center col-xs-12">Nothing Selected</label>
				</div>
				<div *ngFor="let audio of cache.toArray()">
					<div class="row vcenter wide">
						<div class="col-xs-1">
							<a *ngIf=audio.uncollapseScript (click)=audio.getScript()>
								<i class="material-icons">keyboard_arrow_right</i>
							</a>
							<a [hidden]=audio.uncollapseScript (click)=audio.getScript()>
								<i class="material-icons">keyboard_arrow_down</i>
							</a>
						</div>
						<label [attr.title]="audio.name" class="col-xs-11 col-md-6 ellipsize form-control-label">{{audio.name}}</label>
						<div class="clearfix visible-xs-block"></div>
						<audio class="col-xs-12 col-md-5" controls [src]="audio.ref" type="audio/mpeg"></audio>
					</div>
					<div [collapse]=audio.uncollapseScript class="card card-block card-header">
						<div *ngIf="audio.loadingScript" class="col-xs-offset-6">
							<div class="loader"></div>
						</div>
						<div [hidden]="audio.loadingScript">
							<div class="well well-lg">
								<span *ngFor="let word of (audio.chronoView ? audio.chrono : audio.list) | slice:0:audio.limit" class="badge">
									{{word.word}}
								</span>
								<span *ngIf="(audio.chronoView ? audio.chrono.length : audio.list.length) > audio.limit">
									...
								</span>
							</div>
							<div class="table-margined row vcenter">
								<label class="col-xs-6 col-sm-3">Word Limit</label>
								<div class="col-xs-6 col-sm-2">
									<input class="form-control" [(ngModel)]="audio.limit"/>
								</div>
								<div class="clearfix visible-xs-block"></div>
								<label class="col-xs-6 col-sm-4">Chronologic View</label>
								<div class="col-xs-6 col-sm-2">
									<label class="switch">
										<input type="checkbox" [value]="audio.chronoView" (click)="audio.toggleChrono()">
										<span class="slider round"></span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</tbody> 
		</table>
	</div>
</div>
