<table class="table table-striped">
	<tbody>
		<div class="table-margined vcenter row">
			<a (click)="addLink()" class="col-1">
				<i class="material-icons">add_circle</i>
			</a>
		</div>
		<div class="table-margined vcenter row" *ngFor="let link of links; let index = index; trackBy: trackByIndex;">
			<input class="ellipsize col-xs-4 form-control" [(ngModel)]="link.link"
			placeholder="paste link here: https://www.youtube.com/watch?v=..."/>
			<div class="col-xs-2">
				<div class="label" 
				[ngClass]="{'processing': 'label-success', 'unprocessed': 'label-default', 'rejected': 'label-danger'}[link.getStatus()]">
					{{link.getStatus()}}
				</div>
			</div>
			<div class="col-xs-2">
				<button [disabled]="!uasServiceUp" (click)="processLink(index)" class="btn btn-success">Process</button>
			</div>
			<div class="col-xs-2">
				<button (click)="clearLink(index)" class="btn btn-warning">Clear</button>
			</div>
			<div class="col-xs-2">
				<button (click)="removeLink(index)" class="btn btn-danger">Remove</button>
			</div>
		</div>
	</tbody>
</table>
<app-ytviewer></app-ytviewer>
