.well {
	margin-bottom: 0.5vh;
}

.switch {
	position: relative;
	display: inline-block;
	width: 29px;
	height: 17px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 11.5px;
	width: 11.5px;
	left: 2.75px;
	bottom: 2.75px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.badge .material-icons {
	font-size: 1em;
}

.table tr.active td {
    background-color: lightgray;
}
