<label>Uploaded Audio</label>
<table class="table table-striped">
	<tbody *ngFor="let audio of cache.toArray()">
		<tr>
			<td [hidden]=audio.getEdit()><label class="form-control-label">{{audio.model.name}}</label></td>
			<td *ngIf=audio.getEdit()>
				<input (keyup.enter)=audio.toggleEdit() type="text" class="form-control" [(ngModel)]="audio.model.name"/>
			</td>
			<td><button class="btn btn-default" (click)=audio.toggleEdit()>{{audio.getEdit() ? "done" : "edit"}}</button></td>
			<td>
				<audio controls="controls" preload='auto'>
					<source [src]="audio.model.ref" type="audio/mp3"/>
				</audio>
			</td>
		</tr>
	</tbody> 
</table>
