<label>Audio Assets</label>
<table class="table table-striped">
	<tbody *ngFor="let audio of cache.toArray()">
		<div class="row" (click)=audio.getScript()>
			<div class="col-md-1 centered passthrough">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			</div>
			<div class="col-md-5 centered passthrough"><label class="form-control-label">{{audio.model.name}}</label></div>
			<div class="col-md-6">
				<audio controls="controls" preload='auto'>
					<source [src]="audio.model.ref" type="audio/mp3"/>
				</audio>
			</div>
		</div>
		<div [collapse]=audio.uncollapseScript class="card card-block card-header">
			<div class="well well-lg">
				{{audio.script}}
			</div>
			<div [hidden]=audio.scriptComplete>
				<progressbar *ngIf=audio.scriptDisable [animate]="true" [value]="audio.scriptProgress" [type]="type"></progressbar>
				<button class="btn btn-primary" (click)=audio.processSubtitles() [disabled]="audio.scriptDisable">
					Process Subtitles
				</button>
			</div>
		</div>
	</tbody> 
</table>
